<div>
  <% layout("/layouts/boilerPlate") %>

  <div class="row">
    <div class="col-8 offset-2">
      <h3><b> <%= idlisting.title %> </b> <br /></h3>
    </div>
    <div class="card col-6 offset-2 listing-card">
      <img
        src="<%= idlisting.image %>"
        class="card-img-top show-img"
        alt="Listing_images"
      />
      <div class="card-body">
        <p class="card-text">
          <br />
          <%= idlisting.description %> <br />
          &#8377; <%= idlisting.price.toLocaleString("en-IN") %> <br />
          <%= idlisting.location %> <br />
          <%= idlisting.country %>
        </p>
      </div>
    </div>
    <h4>
      <br />
      <a href="/listings/<%= idlisting._id %>/edit" class="btn btn-dark"
        >Edit
      </a>
      <br /><br />
      <form
        method="post"
        action="/listings/<%= idlisting._id %>?_method=delete"
      >
        <button class="btn">Delete</button>
      </form>
    </h4>
  </div>

  <div class="col-8 offset-2 mb-3">
    <h4>Leave a Review</h4>
    <form
      action="/listings/<%= idlisting._id%>/reviews"
      method="post"
      novalidate
      class="needs-validation"
    >
      <div class="mb-3 mt-2">
        <label for="rating" class="form-label"> Rating</label>
        <input
          type="range"
          min="1"
          max="5"
          id="rating"
          name="review[rating]"
          class="form-range"
        />
      </div>
      <div class="mb-3 mt-2">
        <label for="comment"> Comment</label>
        <textarea
          name="review[comment]"
          id="comment"
          cols="30"
          rows="10"
          required
          class="form-control"
        ></textarea>
        <div class="invalid-feedback">Please Submit some valid review</div>
      </div>
      <button class="btn btn-outline-pink">Submit</button>
      <br />
      <br />
    </form>
    <hr />

    <h3>All Reviews</h3>

    <p><%= idlisting.reviews %></p>
  </div>
</div>
